<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Burgers</title>
        <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/css/uikit.min.css" />

    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>
    
    <script src="/assets/js/burgerfn.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>